.Home-form {
    margin: 120px;
    border: 1px solid rgb(203, 203, 255);
    padding: 0px 32px 0px 32px;
}

.In-one-line {
    display: flex;
    margin-bottom: 12px;
}

.Input {
    height: 32px;
    width: 100%;
    border: 1px solid rgb(203, 203, 255);
    padding-left: 12px;
}

.Button-close {
    background-color: transparent;
    border: 0px;
    width: 30px;
}

li {
    list-style-type: none;
    flex-grow: 1;
    margin-left: 12px;
}

ul {
    padding: 0;
}

#Title {
    font-weight: bold;
}